<!DOCTYPE html>
<html>

<head>
    <title>My Django Blog</title>
</head>

<body>
    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div>
        <p>published 19.02.2018, 2:54</p>
        <h2><a href="">My first post</a></h2>
        <p>Nam turpis urna, egestas non justo a, gravida volutpat ligula. Quisque finibus pharetra lorem, sed pulvinar urna lacinia non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris odio odio, feugiat varius augue vel, commodo tristique tortor. Nullam nec pharetra felis. Maecenas eget justo at libero blandit tempus a eget lorem. In hac habitasse platea dictumst. Mauris orci erat, venenatis vel massa ut, sagittis finibus elit.
        </p>
    </div>
    <div>
        <p>published 19.02.2018, 2:54</p>
        <h2><a href="">My second post</a></h2>
        <p>Nam turpis urna, egestas non justo a, gravida volutpat ligula. Quisque finibus pharetra lorem, sed pulvinar urna lacinia non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris odio odio, feugiat varius augue vel, commodo tristique tortor. Nullam nec pharetra felis. Maecenas eget justo at libero blandit tempus a eget lorem. In hac habitasse platea dictumst. Mauris orci erat, venenatis vel massa ut, sagittis finibus elit.
        </p>
    </div>
</body>

</html>